<% include partials/_header %>


    <div class="col-md-6">
        <div class="card">
                <div class="card-body"> 
<form action="/add" method="post">
<div class="form-group">
    <input class="form-contol" name="id"></div>
    <div class="form-group">
    <input class="form-contol" name="marca"></div>
    <div class="form-group">
    <input class="form-contol" name="modelo"></div>
    <div class="form-group">
    <input class="form-contol" name="t_vida"></div>
    
    <button class="submit"> ADD </button></div>
</form>

                </div>
        </div>
    </div>




    <% include partials/_footer %>
